.sidebar{
    padding-top: 0;
    width: 15%;
    background-color: #f1f1f1;
    
    padding: 20px;
  margin:0;
  height: 100vh; 
  position: fixed; 
  top: 0; 
  left: 0;  
}

.sidebar a {
    
    color: rgb(29, 29, 32);
    text-decoration: none;
    margin-right: 20px; 
    font-size: large;
    margin-bottom: 5px;
    align-items: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    display: flex;
  }
.sidebar a:hover{
    background-color: #35323a;
    border-radius: 5px;
   
    color: #ffff;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 4%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}
  .sidebar h5 {
    font-size: 2rem;
    color: #28292d;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    display: flex;
    margin-top: 0;
  }
  .sidebar a span{

    padding-right: 8px;
 }