/* UserProfileCard.css */

.profile-card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh; /* Use min-height to ensure it takes up at least the full viewport height */
    padding-top: 20px; 
  }
  /* Container styles */
  .user-profile-card {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
  margin-top: 15%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust the card width as needed */
  }
  
  /* Username styles */
  .user-profile-card h2 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  /* Bio styles */
  .user-profile-card p {
    font-size: 1rem;
    color: white;
    margin: 10px 0; /* Add some spacing between the username and bio */
  }
  
  /* Add more profile details here */
  
  